<% @page_title = "all accounts" %>

<%= link_to("new account" , new_artist_path())%>

<%@artists.each do |artist|%>
	
	<div>
	<h2><%= artist.email%></h2>
	<%=link_to("show account" , artist_path(id: artist.id))%>
	<%=link_to("edit account" , edit_artist_path(artist))%>
	<%=link_to("delete account" , artist_path( id: artist.id) , :method => 'delete')%>
	</div>
<% end %>
