<% @page_title = "all my labels" %>

<%= link_to("new music label" , new_music_company_label_path(@company))%>

<%@labels.each do |label|%>
	
	<div>
	<h2><%= label.label_name%></h2>
	<%=link_to("show label" , music_company_label_path(@company,label))%>
	<%=link_to("edit label" , edit_music_company_label_path(@company,label))%>
	<%=button_to("delete label" , music_company_label_path(@company,label) , :method => 'delete')%>
	</div>
<% end %>
