	<%=link_to("back to group" , artist_music_group_path(@artist,@owner))%>
	<br>
	<br>
<% if @onlineArtist.id == @owner.id %>
<%= link_to("new music group album" , new_artist_music_group_album_path(@artist,@owner) , :class => "btn-primary btn-lg" , :role => "button")%>
<br>
<br>
<% end %>
<table class="table zebra-striped table-condensed table-hover">
<th>Album art</th>
<th>Name</th>
<th>Number of songs</th>
<th>Release-date</th>
<th>Published</th>
<th>Accepted by labels</th>

<% if @onlineArtist.id == @owner.id %>
	
	<th>Actions</th>

<% end %>	

<% if @album.count == 0 %>
	<tr><td><p>No albums found</p></td></tr>
<%end%>

<% @album.each do |album|%>
	
	<tr>
	<td><%=image_tag(album.album_art,size:'40')%></td>
	<td><%=link_to(album.name, artist_music_group_album_path(@artist,@owner,album))%></td>
	<td><p><%= album.album_tracks.count %></p></td>
	<td><p><%= album.release_date.strftime("%F") %></p></td>
	<td><div class="<%= statusbox(album.published)%>"></div></td>
	<td><div class="<%= statusbox(album.accepted_by_label)%>"></div></td>
	<% if @onlineArtist.id == @owner.id %>	
		
		<td>

			<%=link_to("edit album" , edit_artist_music_group_album_path(@artist,@owner,album),:class => "btn-xs btn-primary")%>
			<%=link_to("delete album" , artist_music_group_album_path(@artist,@owner,album) , :method => 'delete',:class => "btn-xs btn-primary")%>


		</td>

	<% end %>

	</tr>


<% end %>
</table>