<% @page_title = "My album" %>
<%= link_to("back to albums" , artist_music_group_albums_path(@artist,@group))%>

	<%= link_to("add track to album" , new_artist_music_group_album_album_track_path(@artist,@group,@album))%>

	<%= link_to("edit album" , edit_artist_music_group_album_path(@artist,@group,@album))%>

	<%= link_to("delete album" , delete_artist_music_group_album_path(@artist,@group,@album))%>
	

	<%=image_tag(@album.album_art,size:'100')%>
	<% @tracks.each do |track| %>

	<div>
			<%link_to(track.name , show_artist_music_group_album_album_track_path(track))%>

	</div>

<% end %>
