<div class="form-group">
<%= f.label(:name) %>

<%= f.text_field(:name, :class => "form-control", :placeholder => "Name") %>

<%= f.label(:position) %>

<%= f.select(:position , 1..@track_length,{}  ,{:class => "form-control"} ) %>


<%= f.label(:music_file) %>

<%= f.file_field :music_file %>


</div>