<% @page_title = "My music company page" %>
	<table>
	<th>Action</th>
	

	<tr>
	<% if @company.super_power == 0 %>
	<td><%= link_to("show all my music labels" , music_company_labels_path(@company))%></td>
	<% else %>
		<td><%= link_to("List all music company accounts " , music_companies_path())%></td>
	<% end %>
	</tr>
</table>


<% @labels.each do |l|%>

	<% if l.album_label_relation().has_yet_to_be.count > 0 %>
		<h2> <%= pluralize(l.album_label_relation().has_yet_to_be.count , "album" )%> needs to be looked over </h2>
		<table class="table zebra-striped table-condensed table-hover">
			<th>Artist name</th>
			<th>Album name</th>
			<th>Label name</th>
			<th>Action</th>


	<% l.album_label_relation().has_yet_to_be.each do |a| %>
		
		<% puts a.album.name %>
		
			<tr>
				<td> 
					<% a.album.music_groups.each_with_index do |g,i| %>
					
						<% if i == a.album.music_groups.size - 1 %>
						
							<p><%= g.name %></p>
					
						<% else %>
					
							<p><%= g.name %> , </p>
					
						<%end%>
				
				<% end %>

				</td>
				<td> <%= a.album.name %> </td>
				<td><%= l.label_name %> </td>
				<td>
					<%= link_to("grant permission to publish" , {:controller => "music_companies" , :action => "grant_publish_permission" ,:company_id => @company.id, :album_id => a.album.id , :label_id => l.id },:class => "btn-xs btn-success")%>
					<%= link_to("dissallow permission to publish" , {:controller => "music_companies" , :action => "revoke_publish_permission" ,:company_id => @company.id, :album_id => a.album.id , :label_id => l.id },:class => "btn-xs btn-danger")%>


				</td>
		
			</tr>
		
		<%end%>




		</table>
	
	<%end%>

<% end %>
