<div class="form-group">
<%= f.label(:name) %>

<%= f.text_field(:name , :class => "form-control" , :placeholder => "Name") %>

<%= f.label(:tag_name) %>

<%= f.text_field(:tag_name , :class => "form-control" , :placeholder => "tag_name") %>
<div class="checkbox">
<%= f.label(:solo_work) do %>
<%= f.check_box(:solo_work ) %>
Solo work

<%end%>
</div>


<%= f.label(:formation_date) %>

<%= f.date_field(:formation_date , :class => "form-control") %>

</div>	